{% extends "base.html" %}

{% block extrahead %}
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <link
        rel="stylesheet"
        href="https://unpkg.com/tippy.js@6/animations/scale-subtle.css"
    />
    <link
        rel="stylesheet"
        href="https://unpkg.com/tippy.js@6/themes/translucent.css"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    {% include "partials/meta.html" %}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}