{% extends "base.html" %}

{% block extrahead %}
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/tippy.js@6/animations/scale-subtle.css"
  />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/themes/translucent.css"
    />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  {% include "partials/meta.html" %}
{% endblock %}
{% block content %}
  {{ super() }}
  {% include "partials/css_class.html" %}
  {% include "partials/comments.html" %}
  {% set pg_title = 'title' | value_in_frontmatter(page.meta) %}
  {% set pg_title = page.meta.title if pg_title is not none else page.title %}
  {% set pg_title = page.parent.title if pg_title == 'Index' else pg_title %}
  <script> 
    try {
      const index = document.querySelector('h1').innerHTML;
      if (index === "Index") {
        document.querySelector('h1').innerHTML = "{{ pg_title }}";
      }
    } catch (error) {
      // console.log(error);
    }
  </script>
{% endblock %}